/* Base CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    color: #333333;
    font-weight: 800;

}

a {
    text-decoration: none;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1140px;
}


/*-------------------- Header area css start --------------------*/

.header__area {
    padding: 15px 0px;
}

.header__main__blk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__logo a img {
    width: 140px;
}

.header__btn a {
    width: 160px;
    height: 64px;
    border-radius: 8px;
    background-color: #FFC107;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #100F0F;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    transition: .4s;
}

.header__btn a:hover {
    background-color: #100F0F;
    color: #fff;
}

/*-------------------- Header area css end --------------------*/


/*-------------------- Hero area css start --------------------*/

.hero__area {
    background-image: url(../img/hero-bg.jpg);
}







/*-------------------- Hero area css end --------------------*/


/*-------------------- Default area css start --------------------*/
/*-------------------- Default area css end --------------------*/